
.main h1 {
    text-align: center;
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    padding-top: 30px;
    margin: 50px 0px;
}

.section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 15px;
    width: 70%;
    margin: auto;

}

.imagem {
    width: 500px;
    height: 500px;
    object-fit: cover;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 30px
}


.caixaTexto {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 35px;
    padding: 25px;
    
}


.texto {
    display: flex;
    width: 500px;
    height: 250px;
    font-size: 22px;
    padding: 45px 10px;
    font-weight: bolder;
    animation: fadeIn 1.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.89);
    color: black;
    border-radius: 5px;
    box-shadow: -5px 10px 7px 6px rgba(0, 0, 0, 0.527);
    z-index: 100000;
    text-align: justify;
    align-items: center;
}



.botoes {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
   
}

.botoes button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

.botoes button:hover {
    background-color: #ffd11b;
}

/* animações */

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes rotacao{
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

/* responsividade */

@media(max-width:800px){
    .section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 15px;
        width: 70%;
        margin: auto;
        gap: 25px;
        
    }

    .imagem {
        width: 450px;
        height: 450px;
        object-fit: cover;
        background-color: white;
        border-radius: 50%;
        margin-bottom: 30px
    }
    
}

@media(max-width:550px){
    .imagem {
        width: 300px;
        height: 300px;
        
    }

    .texto {
       width: 350px;
       font-size: 19px;
    }
    
}

@media(max-width:380px){
    .imagem {
        width: 280px;
        height: 280px;
       
    }

    .texto{
        width: 300px;
        height: 300px;
        font-size: 18px;
    }
    
}

@media(max-width:330px){
    .imagem {
        width: 250px;
        height: 250px;
       
    }

    .texto{
        width: 250px;
        font-size: 18px;
    }
    
}