.main{
   color: white;
   background-color: rgba(0, 0, 0, 0.842);
}

.section{
   background-image: url('../../public//fundomuay.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   color: white;
   padding: 100px 0px;
   opacity: 0.6;
  
}